body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9cccf1; /* Fondo general */
}

/* Estilos para el menú de navegación */
.menu {
    background-color: #031d51; /* Fondo de secciones */
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    color: #212121; /* Texto general */
    font-weight: bold;
    padding: 10px 20px;
    background-color: #FFFFFF; /* Fondo del botón (blanco) */
    transition: background-color 0.3s;
    border: 1px solid black; /* Agrega un borde negro delgado */
}

.menu ul li a:hover {
    background-color: #4CAF50; /* Color del botón al pasar el cursor */
    border-radius: 15px;
    /*text-decoration: underline;*/
}
.mi-imagen {
    width: 100%; /* Ajusta la imagen al 100% del ancho del contenedor */
    max-width: 600px; /* Máximo ancho de 600px */
    height: auto; /* Mantén la proporción de la imagen */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    display: block; /* Para centrar la imagen */
    margin: 20px 0px; /* Márgenes para centrar la imagen horizontalmente */
    transition: transform 0.3s ease; /* Suave transición para el hover */
}

/* Efecto hover en la imagen */
.mi-imagen:hover {
    transform: scale(1.05); /* Escala la imagen un 5% al pasar el cursor */
}
/* Estilos para las secciones */
/* Estilo para la sección Acerca de mí */

/* Estilo para la sección Acerca de mí */
.contenido-acerca {
    display: flex; /* Flexbox para alinear imagen y texto en filas */
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: space-between; /* Dejar espacio entre la imagen y el texto */
}

.contenido-acerca img {
    max-width: 40%; /* Limita el ancho de la imagen al 40% del contenedor */
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.contenido-acerca p {
    flex: 1; /* El texto ocupa el espacio restante */
}


section {
    padding: 40px;
    margin: 20px;
    background-color: #c1bebe; /* Fondo de secciones */
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid black; /* Agrega un borde negro delgado */
    transition: background-color 0.3s ease;
}
section:hover {
    background-color: #ffffff; /* Cambia el color de fondo al pasar el cursor */
}

h2 {
    font-size: 24px;
    color: #4CAF50; /* Verde para los títulos */
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #212121; /* Texto general */
}

